.con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eceefc;
  }
  
  .registration-form {
    display: flex;
    width: 900px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  
  .image-con {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* background-color: #4285f4; */
    /* border-radius: 4px 0 0 4px; */
  }
  
  .image-con img {
    width: 500px;
    height: auto;
  }
  
  .form-con {
    flex: 1;
    padding: 30px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3367d6;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .new-user-con {
    text-align: center;
    margin-top: 10px;
  }
  
  .new-user-con p {
    font-size: 14px;
  }
  
  .new-user-con a {
    color: #4285f4;
    text-decoration: none;
    font-weight: 500;
  }
  
  .new-user-con a:hover {
    text-decoration: underline;
  }
  .password-input {
    position: relative;
  }
  
  .password-input input[type='checkbox'] {
    position: absolute;
    top: 50%;
    right: 10px;
    /* transform: translateY(10000%); */
    margin-top: 20px;
    transform: translateX(-20%);
    cursor: pointer;
  }
  
  .password-input label {
    font-size: 12px;
  }