
.container {
    border: solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 40px;
    width: 1400px;
}
.maincon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
}
h4{
    text-align: center;
    margin-left: 70px;
    text-decoration: black;
    font-size: larger;
}

.img {
    display: flex;
    margin-left: 70px;
    justify-content: space-around;

}

.imgs {
    border-radius: 50%;
}

.imgs:hover {
    box-shadow: 5px 10px 18px #330426;
}


